*{
	margin: 0px;
	padding: 0px;
}
header, section, footer, aside, nav, article, hgroup{
	display: block;
}
body{
	font-family: Verdana;
	text-align: center;
}
h1{

}
h2{
	margin-bottom: .5em;
}
p{
	margin-bottom: .5em;
}
#wrapper{
	border: 1px solid black;
	width: 1000px;
	margin: 20px auto;
	text-align: left;
}
#top_header{
	background: yellow;
	outline: 1px solid blue;
}
#top_header h1{
	display: inline;
	float: right;
	font: 30px;
	outline: 1px solid red;
}
#top_menu{
	background: blue;
	color: white;
}
#main_section{
	float: left;
	width: 660px;
	margin: 30px; /* 720px, 280 left */
}
#news_left{
	float: left;
	width: 220px;
	margin: 20px 0;
	padding: 30px;
}
#news_right{
	
}
#the_footer{
	clear:both;
	text-align: center;
	padding: 20px;
	border-top: 2px solid black;
}

ul#navmenu, ul.sub1, ul.sub2 {
	list-style-type: none;
	
}

ul#navmenu li {
	outline: 1px solid red;
	width: 125;
	text-align: center;
	position: relative;
	float: left;
	margin-right: 4px;
}

ul#navmenu a {
	text-decoration: none;
	display: block;
	width: 125px;
	height: 25px;
	line-height: 25px;
	background-color:#CCC;
	border-radius: 5px;
}

ul#navmenu .sub1 a {
	margin-top: 3px;
}