*{
	margin: 0px;
	padding: 0px;
}
header, section, footer, aside, nav, article, hgroup{
	display: block;
}
body{
	width: 100%;
	font-family: Verdana;
	display: flex;
	justify-content: center;
}
h1{

}
h2{
	margin-bottom: .5em;
}
p{
	margin-bottom: .5em;
}
#wrapper{
	max-width: 1000px;
	margin: 20px 0px;
	display: flex;
	flex-direction: column;
	
}
#top_header{
	display:flex;
	background-image: linear-gradient(90deg,rgba(255,255,0,0),rgba(255,255,0,1));
	outline: 1px solid blue;
}
#top_header h1{
	float: right;
	font-size: 30px;
	outline: 1px solid red;
}
#top_menu{
}
#slideshow{
	outline: 1px solid red;
	display: flex;
	justify-content: center;
}
#main_section{
	float: left;
	width: auto;
	margin: 30px; /* 720px, 280 left */
}
#news_left{
	float: left;
	width: 220px;
	margin: 20px 0;
	padding: 30px;
}
#news_right{
	float: right;
	width: 220px;
	margin: 20px 0;
	padding: 30px;
}
#the_footer{
	clear:both;
	text-align: center;
	padding: 20px;
	border-top: 2px solid black;
}

ul#navmenu, ul.sub1, ul.sub2 {
	list-style-type: none;
	
}

ul#navmenu li {
	width: 125;
	text-align: center;
	position: relative;
	float: left;
	margin-right: 4px;
}

ul#navmenu a {
	text-decoration: none;
	display: block;
	width: 125px;
	height: 25px;
	line-height: 25px;
	background-color:#CCC;
	border-radius: 5px;
}

ul#navmenu .sub1 a {
	margin-top: 3px;
}

ul#navmenu .sub2 a {
	margin-left: 10px;
}

ul#navmenu li:hover > a {
	background-color: #CFC;
}

ul#navmenu li:hover a:hover {
	background-color: #FF0;
}

ul#navmenu ul.sub1 {
	display: none;
	position: absolute;
	top: 26px;
	left: 0px;
}

ul#navmenu ul.sub2 {
	display: none;
	position: absolute;
	top: 0px;
	left: 126px;
}

ul#navmenu li:hover .sub1 {
	display: block;
}

ul#navmenu .sub1 li:hover .sub2 {
	display: block;
}