*{
	margin: 0px;
	padding: 0px;
}
body{
	font-family: Verdana;
	text-align: center;
}
ul#navmenu, ul.sub1, ul.sub2 {
	list-style-type: none;
	
}

ul#navmenu li {
	outline: 1px solid red;
	width: 125;
	text-align: center;
	position: relative;
	float: left;
	margin-right: 4px;
}

ul#navmenu a {
	text-decoration: none;
	display: block;
	width: 125px;
	height: 25px;
	line-height: 25px;
	background-color:#CCC;
	border-radius: 5px;
}

ul#navmenu .sub1 a {
	margin-top: 3px;
}