BODY {
	background-color: FAF5B4;
	background-image : url(/img/bg_zb2.jpg);
	background-position: 100% 100%; 
	background-repeat: no-repeat; 
	background-attachment: fixed;
	font-family: Arial, Helvetica, sans-serif;
}

H1 {
	color: Blue;
	display: inline;
	font-weight: bold;
	height: 50;
}

H2 {
	color: Red;
	display: inline;
}

H3 {
	
}

cent {
	text-align: center;
}

HR {
	border: double black;
	color: Silver;
	height : 8px;
	width : 90%;
}

#wrapper {
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	margin-top: auto;
}

#header {
	position: relative;
	text-align: center;
	font-variant : small-caps;
	font-weight : bold;
	voice-family: "\"}\"";
	voice-family: inherit;
}

#content {
	position: relative;
	margin-left : 12%;
	margin-right : 12%;
	voice-family: "\"}\"";
	voice-family: inherit;
}

#footer {
	text-align: center;
}

#leftMenu {
	visibility: show;
	position: absolute;
	left: 1%;
	width: 11%;
}

#rightMenu {
	visibility: show;
	position: absolute;
	right: 1%;
	width: 11%;
}